.rbox {
    background: white;
    padding: 20px;
    //box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100px;
    background-size: cover;
    background-image: url("../../images/dashboard/circle.svg");
    background-repeat: no-repeat;
    background-position: left;


}

.flex1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rbox h4 {
    font-size: 15px;
    font-weight: 400;
}

.rbox h2 {
    font-weight: 400;
    margin-top: 10px;
}

.rbox span {
    background: #556EE6;
    color: white;
    border-radius: 50%;
    margin-top: 15px;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.card-widget
{
    border: 0;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    .widget-user-header2
    {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        height: 135px;
        padding: 1rem;
        text-align: center;
        background-color: #17a2b8 !important;
        h3,h5
        {
            text-align: center;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 0;
            margin-top: 0;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
        }
    }
    .widget-user-header
    {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        height: 135px;
        padding: 1rem;
        text-align: center;
        background-size: cover;
        background-image: url("../../images/dashboard/card_back_1.png");
        background-repeat: no-repeat;
        background-position: center center;
        h3,h5
        {
            text-align: right;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 0;
            margin-top: 0;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
        }
    }
    .widget-user-header3
    {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        height: 135px;
        padding: 1rem;
        text-align: center;
        background-color: #fd2678a8 !important;
        h3,h5
        {
            text-align: center;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 0;
            margin-top: 0;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
        }
    }
    .widget-user-image
    {
        left: 50%;
        margin-left: -45px;
        position: absolute;
        top: 80px;
        & > img
        {
            border: 3px solid #fff;
            height: auto;
            width: 90px;
            border-radius: 50%;
            vertical-align: middle;
        }
    }
    .widget-user-image2
    {
        left: 13%;
        margin-left: -45px;
        position: absolute;
        top: 80px;
        & > img
        {
            border: 3px solid #fff;
            height: auto;
            width: 90px;
            border-radius: 50%;
            vertical-align: middle;
        }
    }
    .card-footer
    {
        padding-top: 50px;
        background-color: rgba(0,0,0,.03);
        border-top: 0 solid rgba(0,0,0,.125);
        .border-right
        {
            border-right: 1px solid #dee2e6 !important;
        }
    }

}
